/*NORMAL STYLES*/
* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  background: #FFFFFF;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
#root {
  font-family: 'Roboto Slab', serif;
  font-size: 18px;
  color: #282828;
  padding: 0 10%;
}
hr {
  margin: 3% 0;
}
h1 {
  text-align: center;
  margin: 0;
}
h3 {
  margin: 1% 0;
}
ul li {
  padding-left:3px;
  margin-top: 3px;
  list-style: none;
}
a {
  color: #282828;
}
a:visited {
  color: #282828;
}
/*HOVER*/
p:hover, li:hover {
  background-color: #28282821;
  border-radius: 3px;
}
/*MEDIA QUERIES*/
@media screen and (min-width: 320px) {
  #root  {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1000px) {
  #root  {
    font-size: 22px;
  }
}

