/*NORMAL STYLES*/
* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url('../images/abstract-blue.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #111327;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
#root {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #111327;
  padding: 2% 10%;
  margin: 0 3%;

  background-color: #FFFFFF;
}
hr {
  margin: 2% 0;
}
h1 {
  background-color: #111327 ;
  color: #FFFFFF;
  text-align: center;
  margin: 0;
}
h3 {
  margin: 1% 0;
}
ul li {
  padding-left:3px;
  margin-top: 3px;
  list-style: none;
}
a {
  color: #111327;
  text-decoration: none;
  text-align: center;
}
a:visited {
  color: #111327;
}

button {
  padding: 5px;
}
/*CLASSES*/
.svg {
  width: 18px;
}
.column-container {
  display: flex;
  flex-flow: column;
  text-align: center;
  margin: 2% 0;
  padding: 2% 0;
}
.evenly-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.svg-link {
  padding: 2%;
  margin: 2%;
  border: 0.8px solid #111327;
  border-radius: 5px;
}
.svg-link:hover {
  border: 0.5px solid #808080;
  border-radius: 3px;
}
/*HOVER*/


/*MEDIA QUERIES*/
@media screen and (min-width: 320px) {
  #root  {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1000px) {
  #root  {
    font-size: 22px;
  }
}

