@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400&display=swap');
/*NORMAL STYLES*/
* {
  margin: 0;
  padding: 0;
}
body {
  background: linear-gradient(-16deg, rgb(48, 220, 250) 30%, rgba(0, 0, 0, 0) 30%);
  height: 100vh;
}
#root {
  font-family: 'Roboto Slab', serif;
  font-size: 18px;
  color: #282828;
  padding: 0 10%;
}
hr {
  margin: 3% 0;
}
h1 {
  text-align: center;
  margin: 0;
}
h3 {
  margin: 1% 0;
}
ul li {
  padding-left:3px;
  margin-top: 3px;
  list-style: none;
}
a {
  color: #282828;
}
a:visited {
  color: #282828;
}
/*HOVER*/


/*MEDIA QUERIES*/
@media screen and (min-width: 320px) {
  #root  {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1000px) {
  #root  {
    font-size: 22px;
  }
}

