@import url('https://fonts.googleapis.com/css?family=Montserrat');
html,
body {
	font-family: 'Montserrat', sans-serif;
	background-color: #049DD9;
	color: #fff;

}
.hero {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}
a {
	color: #fff;
	text-decoration: none;
}
a:hover {
	text-decoration: none;
	list-style: none;
	transition: 0.5s;
	color: #fff;
	text-shadow: 2px 2px #000;
}
.main-menu {
	background-color: #0387BA;
}
.fadeIn {
	animation-delay: 0.5s;
	transition: 0.5s;
	animation-duration: 2s;
	animation-iteration-count: 1;
}
.name-animated {
	font-size: 4em;
	border-bottom: 4px solid #F2E205;
	padding: 1rem;
	border-radius: 1em 0 1em 0;
/* Animate Background Image */
	background: url(https://i.imgur.com/bUSET2s.png) repeat-y;
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: aitf 80s linear infinite;
	transform: translate3d(0,0,0);
	backface-visibility: hidden;
}
@keyframes aitf {
	0% { background-position: 0% 50%; }
	100% { background-position: 100% 50%; }
}

.centered {
	margin: 0 auto !important;
	float: none !important;
}
@media (max-width: 575.98px) { 
	.main-menu {
		display: none;
	}
	.name-animated {
		font-size: 2em;
	}
 }

