@import url(https://fonts.googleapis.com/css?family=PT+Sans);
*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    width: 100%;
    height: 100%;
/*     line-height: 1.6em; */
    color: white;
    background-color: #35478C;
    background-attachment: fixed;
    background-size: cover;
    font-family: "PT Sans", sans-serif;
}
ul {
    list-style: none;
}
section {
    position: relative;
    width: 100%;
}
/* NAVBAR DESKTOP */
.navbar-default{
    background-color: #16193B;
    color: #fff;
}
.navbar-default .navbar-brand {
    color: #ffffff;
  transition: 0.5s;}
.navbar-default .navbar-brand:hover {
    color: #ADD5F7;
  transition: 0.5s;}
.navbar-default .navbar-nav>li>a {
    color: #ffffff;
      transition: 0.5s;
}
.navbar-default .navbar-nav>li>a:hover {
    color: #ADD5F7;
    transition: 0.5s;
}
/*Definições de link, fonte e posiciomanento */
a {
    color: #fff;
    text-decoration: none;
    list-style: none;
}
a:hover {
    color: rgba(193, 200, 227, 0.96);
    transition: 0.3s;
}
.centered {
    /*centralizar div no meio*/
    
    margin: 0 auto !important;
    float: none !important;
}
.row {
    text-align: center;
    margin: 0;
}
.clear {
    clear: both;
}
.display-off {
    display: none;
}


/*##### HERO SECTION #####*/


.profile {
    width: 8em;
    height: 8em;
    border-radius: 10%;
    margin-top: -100px;
}
.hero {
    height: 100%;
    background-size: cover;
    background-position: center;
}
.content {
    font-size: 1.6em;
}
.hero .content {
    width: 100%;
    height: 100%;
}
.hero .content .header {
    position: absolute;
    top: 50%;
    width: 100%;
    -webkit-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
    text-align: center;
    /* opacity: 0; */
}
.hero .content .header h1 {
    color: #fff;
    text-shadow: 0px 2px 3px #2d2d2d;
}
/*##### ABOUT MYSELF SECTION #####*/

.about-myself {
    color: white;

}
.about-myself .content {
    text-align: center;
}
#aboult-me {
    text-align: justify;
}
.bg-section {
    background: rgba(255, 255, 255, 0.22);
}
/* CONTACT */

.contact {
    text-align: center;
}
/* FOOTER */

footer {
    padding: 25px 0;
    text-align: center;
    background: rgba(255, 255, 255, 0.08);
}
footer p {
    color: white;
}
/* AJUSTES */
.list-group{
    background-color: rgba(193, 193, 191, 0.22);
    border-radius: 50px;
    
}
.titles {
    color: #ffffff;
    margin-bottom: -5px;
    border-radius: 30px;
    padding: 2px;
    margin: 10%;
}
.form-contact {
    width: 70%;
    margin: auto auto 2% auto;
    color: black;
    padding: 2%;
}
/* ANIMATIONS */
.link{width: 5em; padding-left: 10px;}
.coffe{width: 5em;}

.navbar-brand {}
/* ############################
RESPONSIVE
############################### */

@media screen and (min-width: 786px) {
    .about-myself {
        padding: 100px 40px;
    }
    ul {
        list-style: none;
    }
    .mobile {
        display: none;
    }
}
@media screen and (max-width: 785px) {
    .navbar-desktop {
        display: none;
    }
    .profile{
        margin-top: 100px;
    }
}
@media screen and (max-width: 320px) {
 
    body{width: 100%;height: 100%;}
    .content {font-size: 1em;}
    h3{font-size: 1.2em;}
    h2.titles{font-size: 1.3em;}
    ul.list-group{padding-left: 10%;padding-right: 10%;}
 
    .navbar-desktop {display: none;}
    .profile{margin-top: 100px;}
}


