@import url('https://fonts.googleapis.com/css?family=Montserrat');
*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    color: #000;
    background-color: #fff;

    font-family: 'Montserrat', sans-serif;
    
    
}

ul {
    list-style: none;
}

section {
    position: relative;
    width: 100%;
}

/* NAVBAR DESKTOP */

.navbar-default {
    background-color: #13143f;
    border-color: transparent;
}

.navbar-default .navbar-brand {
    color: #ffffff;
    transition: 0.5s;
    text-decoration: none;
}

.navbar-default .navbar-brand:hover {
    color: #fff;
    transition: 0.5s;
    text-decoration: none;

    -webkit-animation: jello-horizontal 1.2s both;
    animation: jello-horizontal 1.2s both;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
    transition: 0.5s;
}

.navbar-default .navbar-nav > li > a:hover {
    background-color: #fff;
    transition: 0.5s;

}

.navbar-default .navbar-nav > li > a:focus {
    background-color: #fff;

}

/*Definições de link, fonte e posiciomanento */

a {
    color: #000;
    !important text-decoration: none;
    list-style: none;
}

a:hover {
    color: #3542d1;
    transition: 0.3s;
}

.row {
    text-align: center;
    margin: 0;
}

.clear {
    clear: both;
}

.display-off {
    display: none;
}

.list-container a:hover {
    color: #3542d1;
    transition: 0.3s;
}

/*##### HERO SECTION #####*/

.hero {
    height: 100%;
    background-size: cover;
    background-position: center;
}

.content {
    font-size: 1.6em;
}

.hero .content {
    width: 100%;
    height: 100%;
}

.hero .content .header {
    position: absolute;
    top: 50%;
    width: 100%;
    -webkit-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
    text-align: center;
    /* opacity: 0; */
}

.hero .content .header h1 {
    color: #000;
    text-shadow: 0px 2px 3px #2d2d2d;
}

/*##### ABOUT MYSELF SECTION #####*/

.about-myself {
    padding-top: 40px;
}

.about-myself .content {
    text-align: center;
}

#aboult-me {
    text-align: justify;
}

/* SKILLS/COURSES/CERTIFICATES */

.list-container {
    text-align: left;
    padding: 0 10% 0 10%;
}

.schools {
    text-decoration: underline;
}

/*PORTFOLIO*/

#projects {
    margin-top: 50px;
}

.imgPortfolio {
    width: 250px;
    height: 170px;
    padding: 10px;
    transition: 0.5s;
    opacity: 100;
    cursor: pointer;

}

.skillsThumb {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.skillsThumb li {
    margin: 10px;
}

.skillsThumb li a {
    text-decoration: none;
}

.skillsThumb li a:hover {
    text-decoration: none;
}

.bg-group {
    color: #fff;
    background-color: rgba(19, 20, 63, 0.76);
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 50px;
    border: 2px solid #ADD5F7;
    transition: 0.5s;


}

.bg-group:hover {
    background-color: #13143f;
    transition: 0.5s;
    border-radius: 15px;
}

/* FOOTER */

footer {
    padding: 25px 0;
    text-align: center;
    background-color: #13143f;

}

footer p {
    color: white;
}

/* CONTACT */

.contact {
    text-align: center;
    background-color: 195bad;
}

/*ANIMATIONS*/

/* ----------------------------------------------
 * Generated by Animista on 2017-11-17 16:29:9
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation kenburns-top
 * ----------------------------------------
 */
@-webkit-keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
            transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
            transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
            transform-origin: top;
  }
}
@keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
            transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
            transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
            transform-origin: top;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2017-11-17 4:54:53
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation jello-horizontal
 * ----------------------------------------
 */

@-webkit-keyframes jello-horizontal {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }
    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }
    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }
    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
    }
    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes jello-horizontal {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }
    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }
    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }
    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
    }
    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}



/*CUSTOM CSS*/

.centered {
    margin: 0 auto !important;
    float: none !important;
}

.titles {
    background: rgba(17, 17, 17, 0.19);
    color: #000;
    margin-bottom: -5px;
    padding: 2px;
    margin: 2%;
    border-radius: 5px;
}

.coffe {
    width: 80px;
}

.btn-custom {
    background-color: #31134C;
    color: #fff;
    transition: 1s;
}

/*RESPONSIVE*/

@media screen and (min-width: 786px) {
    ul {
        list-style: none;
    }
    .mobile {
        display: none;
    }
}

@media screen and (max-width: 785px) {
    .navbar-desktop {
        display: none;
    }

}

@media screen and (max-width: 320px) {

    body {
        width: 100%;
        height: 100%;
    }
    .content {
        font-size: 1em;
    }
    h3 {
        font-size: 1.2em;
    }
    h2.titles {
        font-size: 1.3em;
    }
    ul.list-group {
        padding-left: 10%;
        padding-right: 10%;
    }

    .navbar-desktop {
        display: none;
    }

    .imgSkills {
        width: 220px;
        height: 150px;
        border-radius: 15px;
        padding: 10px;
    }

}


