* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

body {
  display: flex;
  width: 100%;
}

.subtitle {
  width: 100%;
  animation: float 6s ease-in-out infinite;
  margin-top: 1rem;
  text-align: center;
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}


@media only screen and (max-width: 720px) {
  html {
    font-size: 87.5%;
  }

  .about-me {
    background: linear-gradient(110deg, #86af49 60%, #b5e7a0 60%);
    color: #fff;
  }

  .myself-image {
    display: none;
  }

  .description-paragraph {
    margin: 0.3rem 1rem;
    padding: 0 1rem;
    border-left: 0.1875rem solid rgb(134, 175, 73);
    font-size: 1.2rem;
  }

  .title {
    width: 100%;
    text-align: center;
    padding: 0.8rem 0;
  }

  .my-skills {
    display: flex;
    flex-direction: column;
    padding: 2rem;
  }

  .skills-scope {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
  }

  .skill-badge {
    padding: 0.3rem 0.8rem;
    background-color: #86af49;
    color: #fff;
    border-radius: 6pxpx;
  }

  .before-mark::before { 
    content: "•";
    color: #b5e7a0;
    font-weight: bold;
    padding-right: 0.5rem;
  }
  
}
