* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
  }
  
  body {
    background: url("../images/dark-green.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #00332a;
    color: #fff;
  }
  
  .subtitle {
    width: 100%;
    animation: float 6s ease-in-out infinite;
    margin-top: 1rem;
    text-align: center;
  }
  
  @keyframes float {
      0% {
          transform: translatey(0px);
      }
      50% {
          transform: translatey(-20px);
      }
      100% {
          transform: translatey(0px);
      }
  }

  @media only screen and (min-width: 721px) {
    .root {
      padding: 0 7%;
      min-height: 100vh;

      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    
    .header {
      display: flex;
      justify-content: space-around;
      align-items: center;

      padding-bottom: 10%;

    }
  
    .title {
      display: block;
      text-align: left;
      margin: 0.5rem 0;
    }
  
    .social-scope {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
    }
  
    .social-link {
      display: flex;
      padding: 0.25rem 4rem;
      text-decoration: none;
      color: rgb(255, 255, 255);
      background-color: rgb(134, 175, 73);
      border-radius: 3px;
      cursor: pointer;
    }
  
    .description-paragraph {
      font-size: 1.2rem;
    }
  
    .myself-scope {
      display: flex;
      flex-direction: column;
    }
  
    .badge-green {
      width: fit-content;
      padding: 0.3rem 0.8rem;
      background-color: rgb(134, 175, 73);
      color: rgb(255, 255, 255);
      border-radius: 2px;
      margin: 0.125rem;
      float: left;
    }

    .badge-gray {
      width: fit-content;
      padding: 0.3rem 0.8rem;
      background-color: rgb(71, 71, 71);
      color: rgb(255, 255, 255);
      border-radius: 2px;
      margin: 0.125rem;
      float: left;
    }

    .projects-scope {
      display: flex;
      flex-direction: column;
    }
  
    .project-link {
      text-decoration: none;
      font-weight: 600;
      color: rgb(80, 200, 16);
    }
  
    .project-item-scope {
      margin-top: 0.5rem;
    }

    .project-item-scope:hover {
      background-color: rgba(255, 255, 255, 0.132);
    }
  
    .before-mark::before {
      content: "•";
      color: rgb(57, 120, 24);
      font-weight: bold;
      padding-right: 0.125rem;
      margin-left: 0.125rem;
    }
  
  }
  
  @media only screen and (max-width: 720px) {

    html {
      font-size: 87.5%;
    }
  
    .about-me {
      background: rgba(255, 255, 255, 0.134);
      color: rgb(255, 255, 255);
    }
  
    .social-scope {
      width: 100%;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      background-color: rgb(255, 255, 255);
      position: fixed;
      bottom: 0;
    }
  
    .social-scope a:nth-child(1) {
      background-color: rgb(134, 175, 73);
      padding: 1rem 0.5rem;
    }
  
    .social-scope a:nth-child(2) {
      background-color: rgb(57, 120, 24);
      padding: 1rem 0.5rem;
    }

    .social-link {
      display: flex;
      flex: 1;
      color: rgb(255, 255, 255);
      text-decoration: none;
      justify-content: center;
      cursor: pointer;
  
      padding: 0.3rem 0;
      margin-bottom: 0.3rem;
    }
  
    .description-paragraph {
      margin: 0 1rem;
      padding: 0 1rem;
      font-size: 1.2rem;
      border-left: 0.1875rem solid rgb(134, 175, 73);
      background-color: rgba(17, 17, 17, 0.832);
    }
  
    .title {
      width: 100%;
      text-align: center;
      padding: 0.2rem 0;
    }
  
    .myself-scope {
      display: flex;
      flex-direction: column;
      padding: 0.2rem 2rem 4rem 2rem;
    }
  
    .skills-scope {
      display: flex;
      flex-wrap: wrap;
      gap: 0.25rem;
    }
  
    .badge-green {
      padding: 0.3rem 0.8rem;
      background-color: rgb(134, 175, 73);
      color: rgb(255, 255, 255);
      border-radius: 6px;
    }

    .badge-gray {
      padding: 0.3rem 0.8rem;
      background-color: rgb(71, 71, 71);
      color: rgb(255, 255, 255);
      border-radius: 6px;
    }
  
    .before-mark::before {
      content: "•";
      color: rgb(57, 120, 24);
      font-weight: bold;
      padding-right: 0.5rem;
    }

    .project-link {
      text-decoration: none;
      font-weight: 600;
      background-color: rgba(17, 17, 17, 0.832);
      padding: 0.25rem;
      border-radius: 3px;
      color: rgb(80, 200, 16);
    }
  
    .project-item-scope {
      margin-top: 0.5rem;
    }
  }