* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

body {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background: linear-gradient(to right, #000428, #004e92); 
  color: rgb(255, 255, 255);
}

.subtitle {
  width: 100%;
  animation: float 6s ease-in-out infinite;
  margin-top: 1rem;
  text-align: center;
}

.border-botton-light {
  display: block;
  padding: .5rem;
  font-weight: 700;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }

  50% {
    transform: translatey(-20px);
  }

  100% {
    transform: translatey(0px);
  }
}

@media only screen and (min-width: 721px) {
  .root {
    max-width: 1280px;
    min-height: 100vh;

    display: flex;
    flex-direction: column;

    margin: 0 auto;
    padding: 0 2%;
  }

  .header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 0.375rem;
    margin-bottom: 4%;

  }

  .title {
    display: block;
    text-align: left;
    margin: 0.5rem 0;
  }

  .social-scope {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }

  .social-link {
    display: flex;
    padding: 0.25rem 4rem;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: rgb(19, 101, 61);
    border-radius: 3px;
    cursor: pointer;
  }

  .description-paragraph {
    font-size: 1.2rem;
    max-width: 80%;
    padding: 1rem;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.76);

    animation-name: animateBorder;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    transition: 1s ease-in-out;
  }

  @keyframes animateBorder {
    0% {
      border-left: 2px solid rgb(255, 255, 255);
    }

    50% {
      border-left: 2px solid rgba(255, 255, 255, 0);
    }

    100% {
      border-left: 2px solid rgb(255, 255, 255);
    }
  }

  .myself-scope {
    display: flex;
    flex-direction: column;
  }

  .badge-dracula {
    width: fit-content;
    padding: 0.3rem 0.8rem;
    background-color: rgb(19, 101, 61);
    color: rgb(255, 255, 255);
    border-radius: 2px;
    margin: 0.125rem;
    float: left;
  }

  .badge-gray {
    width: fit-content;
    padding: 0.3rem 0.8rem;
    background-color: rgb(147, 147, 147);
    color: rgb(255, 255, 255);
    border-radius: 2px;
    margin: 0.125rem;
    float: left;
  }

  .--low-bright:hover {
    filter: brightness(110%);
    transition: .1s ease-in-out;
  }

  .grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: .25rem;
  }

  .projects-scope {
    display: flex;
    flex-direction: column;
  }

  .project-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }

  .project-link {
    text-decoration: none;
    font-weight: 600;
    background-color: rgb(19, 101, 61);
    color: rgb(255, 255, 255);
    padding: .25rem;
    border-radius: 3px;

    display: flex;
    align-items: center;
  }

  .project-item-scope {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: rgba(0, 0, 0, 0.635);
    padding: 0.75rem;
    border-radius: 0.375rem;
    transition: .2s ease-in-out;
  }

  .project-item-scope:hover {
    background-color: rgba(42, 42, 50, 255);
    color: #fff;
  }
}

@media only screen and (max-width: 720px) {

  html {
    font-size: 87.5%;
  }

  .about-me {
    background: rgba(255, 255, 255, 0.134);
    color: rgb(255, 255, 255);
  }

  .social-scope {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: rgb(255, 255, 255);
    position: fixed;
    bottom: 0;
  }

  .social-scope a:nth-child(1) {
    background-color: rgb(19, 101, 61);
    padding: 1rem 0.5rem;
  }

  .social-scope a:nth-child(2) {
    background-color: rgb(13, 174, 96);
    padding: 1rem 0.5rem;
  }

  .social-link {
    display: flex;
    flex: 1;
    color: rgb(255, 255, 255);
    text-decoration: none;
    justify-content: center;
    cursor: pointer;

    padding: 0.3rem 0;
    margin-bottom: 0.3rem;
  }

  .description-paragraph {
    margin: 0 1rem;
    padding: 0 1rem;
    font-size: 1.2rem;
    background-color: rgba(17, 17, 17, 0.307);

    animation-name: animateMobileBorder;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    transition: 1s ease-in-out;
  }

  @keyframes animateMobileBorder {
    0% {
      border-left: 0.1875rem solid rgb(19, 101, 61);
    }

    50% {
      border-left: 0.1875rem solid rgba(134, 175, 73, 0);
    }

    100% {
      border-left: 0.1875rem solid rgb(19, 101, 61);
    }
  }

  .title {
    width: 100%;
    text-align: center;
    padding: 0.2rem 0;
  }

  .myself-scope {
    display: flex;
    flex-direction: column;
    padding: 0.2rem 2rem 4rem 2rem;
  }

  .skills-scope {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;

  }

  .badge-dracula {
    padding: 0.3rem 0.8rem;
    background-color: rgb(19, 101, 61);
    color: rgb(255, 255, 255);
    border-radius: 6px;
  }

  .badge-gray {
    padding: 0.3rem 0.8rem;
    background-color: rgb(71, 71, 71);
    color: rgb(255, 255, 255);
    border-radius: 6px;
  }

  .project-item-scope {
    background-color: rgba(255, 255, 255, 0.34);
    padding: 0.25rem;
    margin-bottom: .5rem;
    border-radius: 0.375rem;
    display: flex;
    flex-direction: column;
    transition: .2s ease-in-out;

    text-align: center;
  }

  .project-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
  }

  .project-link {
    text-decoration: none;
    font-weight: 600;
    background-color: rgba(17, 17, 17, 0.87);
    padding: 0.25rem 2rem;
    border-radius: 3px;
    color: rgb(255, 255, 255);
  }
  
  .project-item-stacks {
    display: flex;
    gap: 4px;
  }
}